.new_event_title {
  text-transform: capitalize;
  font-size: 23px;
  font-family: "Roboto";
  letter-spacing: 2px;
  font-weight: bolder;
  margin: 50px 10px 20px 40px;
  text-align: center;
}

.form-headline {
  text-align: center;
  font-size: 20px;
  font-family: "Comic Neue";
  font-weight: bold;
}
.event-form {
  padding: 20px 30px;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  /* align-items: center; */
}
.event-form-image {
  width: 500px;
}
.event-form-elements {
  display: flex;
  flex-direction: column;
  flex: 30%;
  max-width: 400px;
  margin: 0px 30px;
}

.event-form-image > img {
  object-fit: contain;
  width: 100%;
}
.event-form-inputs {
  margin: 20px 0px;
  width: 100%;
}

.btn {
  text-align: center;
}

.event-submit {
  padding: 10px;
  background-color: white;
  border: solid 2px Black;
  border-radius: 2px;
  font-family: "Comic Neue";
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 2px;
}

@media only screen and (max-width: 668px) {
  .event-form {
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 500px) {
  .event-form-image {
    width: 100vw;
  }
}
