.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: rgb(252, 252, 252);
}
.menu {
  display: flex;
  justify-content: space-around;
}
.menu .menu-item {
  margin: 0px 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.285em;
  color: rgba(24, 23, 23, 0.678);
  text-decoration: none;
  text-transform: uppercase;
}

.navbar .logo {
  font-family: "Rock Salt";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 86px;
}
.nav-divider {
  margin: 0px 150px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.185);
}

@media only screen and (max-width: 475px) {
  /* .navbar .logo {
    font-size: 13px;
  } */
  .menu .menu-item {
    font-size: 14px;
    margin: 0px 12px;
  }
  .navbar {
    flex-direction: column;
    padding: 20px 0px;
  }
}

.loggedUser {
  font-size: 12px;
  letter-spacing: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  color: rgba(24, 23, 23, 0.678);
}

.logged {
  display: flex;
  align-items: center;
}
